#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &out OUT_BLE   &bt BT_SEL 0
                &bt BT_CLR     &kp A
            >;
        };
    };
};
